.loaderBox {
		max-width: 1440px;
		width: 100%;
		min-height: 161px;
		border-radius: 12px;
		position: absolute;
		z-index: 2;
		animation: skeleton 2s linear infinite;
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 20px;
}

.noLoader {
	display: none;
}

@keyframes skeleton {
	0% {
		background-color: #490268;
	}
	50% {
		background-color: #7708a7;
	}
	100% {
		background-color: #490268;
	}
}

@media (max-width: 1190px) {
	.loaderBox {
		height: 428px;
	}
}