.button {
	border: none;
	padding: 5px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bolder;
	letter-spacing: 0.1em;
	background-color: var(--primary-color);
	color: var(--background-color);
	transition: all 0.35s ease;
	max-width: 100px;

	&:hover {
		background-color: var(--secondary-color);
		color: var(--clear-color);
	}

	&:disabled {
		background-color: #EFEFEF;
		color: var(--background-color);
		cursor: auto;
	}
}