.main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;

	.windowBox {
		max-width: 1440px;
		width: 100%;
		background-color: var(--clear-color);
		border-radius: 12px;
		padding: 10px;

		.windowBoxTitle {
			color: var(--background-color);
		}
	}
}