.main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	position: relative;

	.windowBox {
		max-width: 1440px;
		width: 100%;
		background-color: var(--clear-color);
		border-radius: 12px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: relative;
		overflow: hidden;

		.windowBoxTitle {
			color: var(--background-color);
			margin-bottom: 50px;
		}

		.error {
			background-color: red;
			width: 200px;
			padding: 5px;
			border-radius: 8px;
			color: var(--clear-color);
			font-weight: bolder;
			position: absolute;
			top: 45px;
			animation: errorMessage 0.35s linear forwards;
		}

		.noError {
			background-color: red;
			width: 200px;
			padding: 5px;
			border-radius: 8px;
			color: var(--clear-color);
			font-weight: bolder;
			position: absolute;
			top: 45px;
			animation: noErrorMessage 0.35s linear forwards;
		}

		.windowBoxParams {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}
}

.loaderTitle {
	margin-bottom: 40px;
	min-height: 31px;
	width: 150px;
	animation: skeletonElement 2s linear infinite;
	border-radius: 8px;
}

.containerLoaderInput {
	display: flex;
	gap: 20px;
}

.loaderInput {
	min-height: 40px;
	width: 200px;
	animation: skeletonElement 2s linear infinite;
	border-radius: 8px;
}

.loaderSwitch {
	min-height: 27px;
	width: 150px;
	animation: skeletonElement 2s linear infinite;
	border-radius: 8px;
}

.loaderButton {
	min-height: 18px;
	width: 76px;
	animation: skeletonElement 2s linear infinite;
	border-radius: 8px;
}

@keyframes errorMessage {
	from {
		left: -200px;
	}
	to {
		left: 10px;
	}
}

@keyframes noErrorMessage {
	from {
		left: 10px;
	}
	to {
		left: -200px;
	}
}

@keyframes skeletonElement {
	0% {
		background-color: #7708a7;
	}
	50% {
		background-color: #490268;
	}
	100% {
		background-color: #7708a7;
	}
}

@media (max-width: 1190px) {
	.windowBoxParams {
		width: 200px;
		flex-direction: column;
		align-items: center;
	}

	.containerLoaderInput {
		width: 200px;
		flex-direction: column;
		align-items: center;
	}
}