@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SUSE", sans-serif;

}

:root {
  --background-color: #2E073F;
  --primary-color: #AD49E1;
  --secondary-color: #7A1CAC;
  --clear-color: #EBD3F8;
}